.nav-bar {
    border-top: 15px solid #202020;
    justify-content: end;
    height: 10vh;
}

.nav-bar > a {
    padding: 3px 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: grey;
    border-radius: 3px;
    height: 24px;
}