/* Utils */

.container {
	height: 100vh;
	background-color: black;
}

.wrapper {
	width: 90vw;
	height: calc(100vh - 20vh);
	margin: auto;
	
	/* background-color: black; */

	/* debug */

	background-color: palevioletred;
}

/* .clearfix::after {
	content: '';
	clear: both;
	display: table;
} */

.d-flex {
	display: flex;
}